<mat-toolbar color="primary">
    <a 
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </a>
    <span>Vidyarthi Pariksha</span>
    <span class="example-spacer"></span>

    <button
    *ngIf="isLoggedIn && user"
    class="example-icon favorite-icon ml20"
    mat-button
    aria-label="Example icon-button with heart icon"
    routerLink="/admin/profile"
  >{{ user.userName }}
  </button>
    <a
    *ngIf="!isLoggedIn"
    routerLink="/login" 
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <!-- <mat-icon>login</mat-icon> -->
      Login
    </a>
    <a 
    *ngIf="!isLoggedIn"
    routerLink="/signup"
    mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>app_register</mat-icon> -->
      Register
    </a>

    <a 
    (click)="logout()"
    *ngIf="isLoggedIn"
    mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
      <!-- <mat-icon>app_register</mat-icon> -->
      Logout
    </a>
  </mat-toolbar>