<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.jpg" />
                </div>
                <h1 class="text-center">Vidyarthi Pariksha Register Here</h1>
                <!-- {{ user | json }} -->

                <form (ngSubmit)="formSubmit()">
                    <!-- User Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input
                        required
                        [(ngModel)]="user.userName"
                        name="username" 
                        matInput
                        placeholder="Please Enter UserName">
                        <mat-hint>User Name must be unique</mat-hint>
                    </mat-form-field>

                    <!-- User password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)] = "user.password"
                        name="password"
                        type="password"
                        matInput placeholder="Please Enter UserName">
                    </mat-form-field>

                    <!-- First Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)] = "user.firstName"
                        name="firstname"
                        matInput
                        placeholder="Please Enter UserName">
                    </mat-form-field>

                    <!-- Last Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required 
                        [(ngModel)] = "user.lastName"
                        name="lastname"
                        matInput placeholder="Please Enter UserName">
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input
                        required 
                        [(ngModel)] = "user.email"
                        name="email"
                        type="email" matInput placeholder="Please Enter UserName">
                    </mat-form-field>

                    <!-- Phone Number -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                        required 
                        [(ngModel)] = "user.phone"
                        name="phone"
                        type="tel" matInput placeholder="Please Enter UserName">
                    </mat-form-field>

                    <div class="container">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px"  mat-raised-button color="accent">Reset</button>
                        
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>