<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" class="mt20">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.jpg" />
                </div>
                <h1 class="text-center">Vidyarthi Pariksha Login Here</h1>
                <form (ngSubmit)="formSubmit()">
                    <!-- User Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input
                        required
                        [(ngModel)] = "loginData.userName"
                        name="username" 
                        matInput
                        placeholder="Please Enter UserName">
                    </mat-form-field>

                    <!-- User password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)] = "loginData.password"
                        name="password"
                        type="password"
                        matInput placeholder="Please Enter your password">
                    </mat-form-field>
                    <div class="container">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button class="ml20" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>